<p id="notice"><%= notice %></p>

<h1>Case <%= @case.name %></h1>
<small><%= "Client's Name : #{@case.client.name}" %></small><br />
<row>
  <button id="timer" class="btn btn-small btn-primary">Start Timer</button>
</row>
<row>
  <div id="timecount"></div>
</row>
