<p id="notice"><%= notice %></p>

<h1>Case <%= @case.name %></h1>
<small><%= "Client's Name : #{@case.client.name}" %></small><br />
<row>
  <button id="timer" class="btn btn-small btn-primary">Start Timer</button>
</row>
<row>
  <div id="timecount"></div>
</row>
<row>
	<%= link_to "Create Invoice", client_case_invoice_path(client_id: @client.id, case_id: @case.id), class: "btn btn-primary btn-small new_client_case", :'data-method' => :post %>
</row>